#mySidenav a { /*id니까 #*/
    position: absolute; /*absolute을 안하면 */
    left: -80px; /*왼쪽으로 숨긴다*/
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover { /* ? */
    left: 0;
}

#about {
    top: 20px; /* 위치 */
    background-color: red;
}

#blog {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #555 /* Light Black */
  }