input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block; /*?*/
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(208, 234, 238);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal Content Box */
.modal-content { /* modal-content 라는 클래스를 만들진안은거같은데 왜 이렇게 쓰지? */
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(197, 197, 197);
    width: 80%;
}

/* close button !!왜 close가 모달창 안에 안들어가고 모달창은 크기가 왜 이상하지*/ 
.close { 
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
} 

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}
  
.container {
    padding: 16px;
  }
  

  
